{
    "presets": [
        ["env", {
            "targets": {
                "node": 4
            },
            "debug": true
        }]
    ],
    "plugins": [
        "add-module-exports"
    ]
}